{{> nav/nav-block}}

{{!-- <div class="container-fluid home">
    <div class="row">
        <div class="col-md-4">
            {{> sidemenu/sidemenu}}
        </div>
        <div class="col-md-10">
            <h3>Akrivia Automation PVT LTD.</h3>
            <hr>
        </div>
    </div>
</div> --}}

<h3>Akrivia Automation PVT LTD.</h3>

{{> footer/footer}}
